run = ["python3", "main.py", "web"]
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python3 app.py"]

[[ports]]
localPort = 8080
externalPort = 80
